---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

body{
  background-color: #0c0114 !important;
  color: white !important;
}
.post-content-main{
  padding-left: 1em;
  padding-right: 1em;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.main-stuff {
    min-height: 100%;
    height: auto !important;
    height: 100%;

}
#footer, .push {

}
#footer{
  background-color: #02062a;

}
.cont{
  min-height: 800px !important;
background-color: #02062a;
}

.social{
  font-size: 19px;
left: 100;
padding: 1em;
}

.site-title{
  font-family: "Lato";
font-weight: 700;
letter-spacing: 0.2em;
text-align: center;
padding-top: 4em;
padding-bottom: 1em;
font-size: 26px;

}

.site-des {
  font-family: "Lato";
font-weight: 700;
letter-spacing: 0.5em;
text-align: center;
padding-bottom: 1em;
font-size: 12px;
}
.footer-content{
  padding: 1em;
}

.main-title{

  font-size: 52px;
text-align: center;

    padding-right: 0.5em;

    padding-left: 0.5em;
font-family: "Alegreya Sans";
padding-bottom: 0.2em;
padding-top: 1em;

}

.post-meta{
  text-align: center;
  text-transform: uppercase;
  font-family: "Alegreya Sans";
}

.post-content-main{
  font-family: "Alegreya Sans";
font-size: 20px;
font-weight: 300;
text-align: justify;
}
.stories{
  font-family: "Lato";
font-size: 20px;
letter-spacing: 5px;
padding: 2em;
padding-bottom: 0.5em;
text-align: center;
}
.post-box{
  font-family: "Alegreya Sans";

letter-spacing: 2px;
text-align: center;
padding: 1em;

}

.post-title{
  color: lightcyan;
  font-size: 30px;
  padding-bottom: 0.2em;

}
a:hover{
  color: #f6e3fc;
  text-decoration: none !important;
  border-bottom: 1px lightblue dotted;
}
.date-post{
  color: skyblue;
font-size: 14px !important;
text-transform: uppercase;
}
.posted{
  font-size: 14px !important;
}

.posted-on{
  color:white;
font-size: 14px !important;
text-transform: uppercase;
}
.in{
font-size: 9px;
text-transform: uppercase;
}

.categories-on{
  color: lightseagreen !important;
font-size: 14px !important;
text-transform: uppercase !important;
}

.postExt{    color: lightcyan;
    font-size: 16px;
    font-weight: 300;
}
.site-title-link{
  padding-bottom: 0.3em;
letter-spacing: 4px;
}

.quote-of{
  font-family: "Raleway";
font-size: 25px;
padding-top: 0.5em;
float: left;
color: cyan;
}
.the-day{
  font-family: "Raleway";
font-size: 25px;
color: skyblue;
padding-bottom: 0px;
float:right;
}
.quote{
  font-family: "Josefin sans";
font-weight: 300;
font-size: 18px;
text-align: justify;
padding: 0.3em;

}
.author-name{
  font-size: 24px;
}

.quote-author{
  font-family: "Open Sans";
text-transform: uppercase;
padding: 1em;
font-weight: 600;
font-size: 14px;
color: powderblue;
}
.navigation{
  text-align: center;
padding-top: 6em;
text-transform: uppercase;
font-family: "Lato";
font-weight: 700;
font-size: 12px;
color: lightgray;
}
.nav-page{
  padding: 1em;
  letter-spacing: 0.3em;

}
.nav-links{
  padding-bottom: 0.5em;
}
code{
  border-radius: 0px !important;
}

.sname{
  font-size: 34px;
font-weight: 600;
letter-spacing: 5px;
}

.sname-main{
  letter-spacing: 3px;
}

.container{
  margin-right: 100px;
  margin-left: 100px;
  height: 1000%;
  width: 90%;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

@media only screen and (max-width: 400px) {
    .navigation {
        font-size: 10px;
    }
    .nav-links{
      padding-bottom: 0.2em;
    }
}
// Our variables
$base-font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #040738;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import

        "syntax-highlighting"
;
