---
layout: default
---
<div class="stories">
  BLOG
</div>
<div class="post-content">
  {% for post in site.posts %}
  <div class="post-box">
    <div class="post-title">

 <a class="post-title" href="{{post.url | prepend:site.baseurl }}" >{{post.title}}</a>
      <br>
    </div>


    <span class="posted-on">
POSTED ON

     </span>
     <span class="date-post"> {{ post.date | date: "%A, %B %-d, %Y" }}</span>
     <span class="in">
       in
     </span>
     <span class="categories-on">
       {% for category in post.categories%}
       {{category}} &nbsp;{% if forloop.last %}{% else %},{% endif %}
       {% endfor %}
     </span>


    <div class="postExt">
      {{ post.content | strip_html | truncatewords:20}}
    </div>
  </div>
  {% endfor %}
</div>
