---
layout: page
title:	Version History
permalink: /versioning.html
---
<div class="stories">
  VERSIONS
</div>
<div class="post-content">
  {% for post in site.pages %}
  {% if post.layout == "version" %}
  <div class="post-box">
    <div class="post-title">

 <a class="post-title" href="{{post.url | prepend:site.baseurl }}" >{{post.title}}</a>
      <br>
    </div>


    <span class="posted-on">
RELEASED

     </span>
     <span class="date-post"> {{ post.date | date: "%A, %B %-d, %Y" }}</span>

    <div class="postExt">
      {{ post.content | strip_html | truncatewords:20}}
    </div>
  </div>
  {% endif %}
  {% endfor %}
</div>
