<div class="quote-box">
  <div class="quote-of">
    QUOTE FOR
  </div>

  <div class="the-day">
    THE SOUL
  </div>
<br><br><br><br>
  <div class="quote">

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var quotes = [
		"1)	Controlling complexity is the escence of compuer programming. <div class='quote-author'> Brian Kerningham</div>",
		"2) It's all magic. <div class='quote-author'> Larry Wall</div>",
		"3) Easy things should be easy, and hard things should be possible. <div class='quote-author'> Larry Wall</div>",
		"4) Computer Science is embaressed by the compuor. <div class='quote-aunthor'> Alan Perlis</div>",
	];

$('.quote').html(quotes[Math.floor((Math.random() * 5) + 0)].slice(3));
  })
</script>
